<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Anish Jain">
   <meta name="keywords" content="Carnegie Mellon University, Information Systems">
   <meta name="description" content="Anish's professional website">
   <title> Anish Jain </title>

   <link rel="stylesheet" href="../static/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
   <header>
      <h1 id="webname"> Anish Jain </h1>
      <nav  class="navigation">
         <a href="../index.html">Home</a>
         <a href="cv.html">Resume</a>
         <a href="fun.html">Hobbies</a>
         <a href="contact.html">Contact</a>
     </nav>
  </header>

  <div class="main">
      <h2>Curriculum Vitae</h2>
      <table>
         <tr>
            <th>Name</th>
            <th>Description</th>
         </tr>
         <tr>
            <td>Venture Analyst</td>
            <td>BlueTree Capital Group – Early-stage startups, financial analysis.</td>
         </tr>
         <tr>
            <td>VCIC Competitions Team</td>
            <td>Scottie Ventures – Selected among 120+ freshman applicants for VC competitions.</td>
         </tr>
         <tr>
            <td>VC Analyst</td>
            <td>Scottie Ventures – Startup consulting, investment management.</td>
         </tr>
         <tr>
            <td>AI Integrations Researcher</td>
            <td>Hydroinformatics Lab @ UI – Developed AI-based flood crisis management tools.</td>
         </tr>
         <tr>
            <td>Software Engineering Intern</td>
            <td>Wesco – Implemented front-end functionality for consulting projects.</td>
         </tr>
         <tr>
            <td>Machine Learning Researcher</td>
            <td>Georgia Tech – Developed and published a neural network predicting cardiovascular disease.</td>
         </tr>
         <tr>
            <td>Carnegie Mellon University</td>
            <td>Bachelor of Science, Information Systems & Computer Science (4.0 GPA, Dean’s List).</td>
         </tr>
         <tr>
            <td>The Harker School</td>
            <td>High School Diploma – Student Council Co-President, FreeSTEM Founder.</td>
         </tr>
      </table>
      <p><a href="../static/resume.pdf" target="_blank" rel="noopener noreferrer">Check Out My Full Resume (PDF)</a></p>
  </div>

   <footer>
      <p>&copy; 2025 Anish Jain. All rights reserved.</p>
   </footer>
</body>
</html>