<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Anish Jain">
   <meta name="keywords" content="Carnegie Mellon University, Information Systems">
   <meta name="description" content="Anish's professional website">
   <title> Anish Jain </title>

</head>
<body style="font-family: Arial;">
   <header>
      <h1> Anish Jain </h1>
      <nav>
         <a href="../index.html">Home</a>
         <a href="cv.html">CV</a>
         <a href="contact.html">Contact me</a>
         <a href="fun.html">For Fun</a>
     </nav>
  </header>

  <div class="main">
      <h2> Things I do for Fun: </h2>
      <ul>
         <li> Watching sports (Basketball, Football, Cricket) </li>
         <li> Travelling the world!</li>
         <li> Listening to Music (Drake, SZA, Frank Ocean)/li>
         <li> Reading about new companies and tech news</li>
         <li> Spending quality time with friends at CMU </li>
      </ul>
  </div>

   <footer>
      <p>&copy; 2025 Anish Jain. All rights reserved.</p>
   </footer>
</body>
</html>